
* {
background-color: palegoldenrod;
text-align: left;
}



h1{
    text-align: center;
    color:red;
}

h2{
    text-align: center;
    color:red;
}

div{
    text-align: center;
}

p{
    text-align: center;
}

.pizza-img {
    width: 400px;
    height: 600px;

}

.fajita-img {
    width: 400px;
    height: 600px;
}

ul{
    padding-left:880px;
    text-align:left;
    list-style-position: inside;
}

ol{
    padding-left:800px;
    text-align: left;
    list-style-position: inside;
}